In [6]:
import networkx as net
import urllib
import matplotlib.pyplot as plt
import pandas as pd

In [17]:
df = pd.read_csv('moreno_crime/out.MORENO_CRIME_CRIME',sep=' ',skiprows=2,header=None,comment='%',names=['From','To','Junk'])
df

      From   To  Junk
0        1    1   NaN
1        1    2   NaN
2        1    3   NaN
3        1    4   NaN
4        2    5   NaN
5        2    6   NaN
6        2    7   NaN
7        2    8   NaN
8        2    9   NaN
9        2   10   NaN
10       2   11   NaN
11       2   12   NaN
12       2   13   NaN
13       2   14   NaN
14       2   15   NaN
15       2   16   NaN
16       2   17   NaN
17       2   18   NaN
18       2   19   NaN
19       2   20   NaN
20       2   21   NaN
21       2   22   NaN
22       2   23   NaN
23       2   24   NaN
24       2   25   NaN
25       2   26   NaN
26       3   27   NaN
27       4   24   NaN
28       5   19   NaN
29       6   28   NaN
...    ...  ...   ...
1446   815   47   NaN
1447   815  547   NaN
1448   815  548   NaN
1449   815  352   NaN
1450   815  549   NaN
1451   815  499   NaN
1452   815  550   NaN
1453   815  551   NaN
1454   815  404   NaN
1455   815  512   NaN
1456   815  160   NaN
1457   815  415   NaN
1458   815  256   NaN
1459   816  153   NaN
1460   817  251   NaN
1461   818  474   NaN
1462   818  493   NaN
1463   818  190   NaN
1464   819  501   NaN
1465   820   19   NaN
1466   821  324   NaN
1467   821  519   NaN
1468   822  112   NaN
1469   823  227   NaN
1470   824  171   NaN
1471   825  399   NaN
1472   826  300   NaN
1473   827  265   NaN
1474   828  298   NaN
1475   829  271   NaN

[1476 rows x 3 columns]

In [3]:
c = net.Graph()

In [5]:
c.add_edge('moreno_crime/out')

TypeError: add_edge() missing 1 required positional argument: 'v'